# Vim Help Snippets
# Author:       Kyle L. Davis
# Version:      0.0.1
# Last Change:  September 19, 2021


# This is a Vim modeline
# See `:help help-writing`
# See `:help modeline`
# [text{white}]{vi:|vim:|ex:}[white]{options}
snippet footer_basic "Basic footer for Vim Help files." b
 vim:textwidth=78:tabstop=8:noexpandtab:filetype=help:norightleft:
endsnippet
