# HTML Awesome Font Snippets
# Author:       Kyle L. Davis
# Version:      0.0.1
# Last Change:  September 19, 2021


extends html


snippet awesome_font_icon "An Awesome Font Icon" i
<i class="fa fa-${1:${VISUAL:icon-name}}"></i>&nbsp;$0
endsnippet
