# Markdown GitHub Snippets
# Author:       Kyle L. Davis
# Version:      1.0.0
# Last Change:  September 19, 2021

#######################
### Badges (GitHub) ###
#######################

snippet badge_precommit "Badge for pre-commit" b
[![pre-commit](https://img.shields.io/badge/pre--commit-enabled-brightgreen?logo=pre-commit&logoColor=white)](https://github.com/pre-commit/pre-commit)
endsnippet
post_jump "expand(snip)"
snippet shield_precommit "Description"
badge_precommit$1
endsnippet
