# PlantUML General Snippets
# Author:       Kyle L. Davis
# Version:      0.0.1
# Last Change:  September 19, 2021


extends plantuml


snippet plantuml "PlantUML block."
@startuml

${0:${VISUAL:diagram}}

@enduml
endsnippet
