# Vim Python Snippets
# Author:       Kyle L. Davis
# Version:      0.0.1
# Last Change:  November 1, 2021
#
#	Python snippets used in Vim scripts.
#


extends vim
snippet python3 "Heredoc for Python3 code."
python3 << EOF
${1:${VISUAL:Python 3 Code}}
EOF
endsnippet
