# Python Jinja2 Snippets
# Author:       Kyle L. Davis
# Version:      0.0.1
# Last Change:  September 19, 2021

snippet j_if "Jinja if else statement"
{% if ${1:condition} %}
${0:${VISUAL:if}}
{% else %}
${2:else}
{% endif %}
endsnippet
